# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives**

In [218]:
objectives = {'List Popular Data Science Languages', 'List Popular Data Science Libraries', 'Create a Table', 'Complete Basic Arithmetic', 'Convert Time'}
for item in objectives:
    print(f'* {item}')

* Convert Time
* Complete Basic Arithmetic
* Create a Table
* List Popular Data Science Libraries
* List Popular Data Science Languages

### Data Science Languages

In [96]:
### Ordered List of Data Science Languages
DS_Lang = ['SQL', 'Python', 'R']
print(DS_Tools)

['SQL', 'Python', 'R']

In [68]:
### for Loop to produce a numerical list of the DS_Lang
for index, tool in enumerate(DS_Lang, start=1):
    print(f'{index}.{tool}')

1.SQL
2.Python
3.R

### Data Science Libraries

In [70]:
### Ordered List of Data Science Librariess
DS_Libs = ['Pandas', 'Numpy', 'Matplotlib']
for index, tool in enumerate(DS_Libs, start=1):
    print(f'{index}.{tool}')

1.Pandas
2.Numpy
3.Matplotlib

### Data Science Table

In [ ]:
import pandas as pd
data = {
    'Tools': ['SQL', 'Python', 'R'],
    'Libraries': ['Pandas', 'Numpy', 'Matplotlib']
}
DS_Table = pd.DataFrame(data)
print(DS_Table)

    Tools   Libraries
0     SQL      Pandas
1  Python       Numpy
2       R  Matplotlib

### Arithmetic in Python

In [94]:
a = 1+2
b = 1*2
c = 1**2
d = 1//2
e = 1%2
f = (1+2) * 3

In [114]:
result = (a,b,c,d,e,f) 
print(result)

(3, 2, 1, 0, 1, 9)

In [137]:
## use a forloop and the String library to produce an alpha list

import string
for index, tool in zip(string.ascii_lowercase, result):
    print(f'{index}.{tool}')

a.3
b.2
c.1
d.0
e.1
f.9

### Multiplication + Addition in Python (PEMDAS)

In [142]:
x = (3*4)+5
print(x)

17

### Convert Minutes to Hours in Python

In [198]:
## Define the Conversion function "convert_time)" as applied to "minutes"
## hours are equal to minutes divided by 60
## the remainding minutes "rem_mins" then returns the Modulus %, remainder of the hours divided by 60 
def convert_time(minutes):
    hours = minutes // 60
    rem_mins = minutes % 60
    return hours, rem_mins

In [200]:
convert_time(200)

(3, 20)

#### Notbeook Author J. Scott